<section class="main-container">
  
    <aside class="header-container">
      <aside class="logo-1">
        <img src="../../assets/Image 2.png" />
      </aside>
      <aside class="header-texts">
        <ul class="texts">
          <li>Home</li>
          <li>Test Ride</li>
          <li>Locations</li>
          <li>Pricing</li>
        </ul>
        <aside class="mail">
          <aside class="mail.img">
            <img src="../../assets/Group 47241.png" style="background: #F5FBFD;">
          </aside>
          <aside class="mail-text">
            <p>Email us now:</p>
            <h3>info@gygo.com</h3>
          </aside>
        </aside>
        <aside class="call">
          <aside class="call.img">
            <img src="../../assets/Group 47242.png" />
          </aside>
          <aside class="mail-text">
            <p>call us now:</p>
            <h3>+98 844 8744 55</h3>
          </aside>
        </aside>
      </aside>
    </aside>

    <aside class="body" >
        <aside class="box-1">
            <img class="box-1-img" src="../../assets/Group 45729 (1).svg">
            <h1 class="Fygo-text" style="transform: rotate(-90deg);">FYGO</h1>
        </aside>
        <aside class="box-2">
            <aside class="sub-box-1">
                <h1>BE THE VISIONARY</h1>
                <h1>GO WITH </h1>
                <h1 style="color: #00BFFF;">ECO FREINDLY</h1>
                
            </aside>
            <aside class="sub-box-2">
                <aside class="sub-1">
                    <button style="color: #FFF; background: #00BFFF;">Find Nearest Station</button>
                    <button>Become a Dealer</button>

                </aside>
            </aside>
        </aside>
        <aside class="box-3">
            <img class="box-3-img" src="../../assets/Group 47237.png">
            
        </aside>

    </aside>
  
</section>
