<section class="main-container">
  <aside class="body-container">
    <aside class="box-1">
      <img class="grill" src="../../assets/New folder/Group 45729.png" />
      <img
        class="swap"
        src="../../assets/New folder/MicrosoftTeams-image-82.jpg"
      />
      <aside class="sub-box-1">
        <h1>Charging Stations for all Businesses</h1>
      </aside>
    </aside>
    <aside class="box-2">
      <h2>About Echarge</h2>
      <h1>Explore the world and become your own tour guide.</h1>
      <p>
        Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
        Saepe convallis, nostra.<br />
        Ducimus convallis , bibendum elit. Delectus, nesciunt imperdiet dolor
        litora orci? <br />Tristique per natus. Saepe convallis, nostra. Ducimus
        convallis ,<br />
        bibendum elit. Delectus, nesciunt imperdiet dolor litora orci? Tristique
        per natus. Saepe
      </p>
      <aside class="sub-box-1">
        <img src="../../assets/New folder/Icon ionic-md-flower.png" />
        <p>
          Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
        </p>
      </aside>
      <aside class="sub-box-1">
        <img src="../../assets/New folder/Icon ionic-md-flower.png" />
        <p>
          Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
        </p>
      </aside>
      <aside class="sub-box-1">
        <img src="../../assets/New folder/Icon ionic-md-flower.png" />
        <p>Delectus, nesciunt imperdiet dolor litora orci</p>
      </aside>
      <button>Know More</button>
    </aside>
  </aside>
</section>
